$mustard: #FFE812;
$mustardHover: #FFC700;
$mustard-2: #293041;
$mustardHover-2: #222336;

$white: #fff;
$text: #010101;
$textDark: #222336;

$gray-1: #777D8E;
$gray-2: #ccd4ec;
$gray-3: #bdbdbd;
$gray-4: #f6f6f6;
$back: #293041;

$font-main:'Open Sans', 'Arial', sans-serif;

