.section-about {
  margin-bottom: 100px;
  @include adaptive(900) {
    margin-bottom: 60px;
  }
  @include adaptive(768) {
    margin-bottom: 40px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    @include adaptive(900) {
      flex-direction: column;
    }
  }

  &-left {
    display: flex;
    max-width: 392px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 73px;
    @include adaptive(900) {
      margin-bottom: 20px;
      max-width: 100%;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 60%;
    @include adaptive(900) {
      max-width: 100%;
    }
  }

  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: $mustard-2;
    @include adaptive(900) {
      font-size: 18px;
    }
    @include adaptive(768) {
      font-size: 16px;
    }
  }

  &-text {
    margin-top: 0;

    &-title {
      margin-top: 40px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      color: $mustard-2;
      @include adaptive(900) {
        margin-top: 20px;
        font-size: 16px;
      }
      @include adaptive(768) {
        font-size: 14px;
      }
    }
  }
}