{% extends '../layouts/blank.twig' %}

{% block page %}
    <section class="callback">
        <link rel="stylesheet" href="/assets/css/callback.css">
        <div class="callback__title">
            Оставьте заявку
        </div>
        <div class="callback__subtitle">
            Мы свяжемся с Вами в ближайшее время!
        </div>
        <form action="/" class="callback-form form-file">
            <label class="label callback__label">
                <input placeholder="Имя" type="text" class="input-field input_gray">
            </label>
            <label class="label callback__label">
                <input placeholder="Телефон" type="text" class="input-field input_gray js-phone">
            </label>
            <div class="callback-bottom">
                <div class="input-file">
                    <label class="input-file__label form-internal__file icon-file">
                        <input type="file" class="visually-hidden js-question-file-input">
                        <span class="input-file__button input-file__button_gray">Прикрепить файл*</span>
                    </label>
                    <div class="question-file-list"></div>
                </div>
            </div>
            <div class="question-consent">
                Нажимая кнопку "ОТПРАВИТЬ" я даю согласие на обработку персональных данных
            </div>
            <button class="button button-yellow">Отправить</button>
        </form>
        <script src="/assets/js/popup.js"></script>
    </section>
{% endblock %}