{% extends '../layouts/default.twig' %}
{% set title = 'Ссылки' %}
{% set img = 'products' %}

{% block styles %}

  <style>
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 120px;
    }

    .link-item {
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #2B2E38;
      transition: .3s;
    }

    .link-item:hover {
      color: #B69052;
    }
  </style>


{% endblock %}

{% block scripts %}


{% endblock %}

{% block page %}

  <div class="links">
    <a target="_blank" href="/" class="link-item">Главная</a>
    <a target="_blank" href="/services.html" class="link-item">Услуги</a>
    <a target="_blank" href="/services-detail.html" class="link-item">Услуги Детальныя</a>
    <a target="_blank" href="/about.html" class="link-item">О компании</a>
    <a target="_blank" href="/contact.html" class="link-item">Контакты</a>
  </div>



{% endblock %}


