{% extends '../layouts/default.twig' %}
{% set title = 'Ссылки' %}
{% set img = 'products' %}

{% block styles %}

  <style>
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 120px;
    }

    .link-item {
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #2B2E38;
      transition: .3s;
    }

    .link-item:hover {
      color: #B69052;
    }
  </style>


{% endblock %}

{% block scripts %}


{% endblock %}

{% block page %}

  <div class="links">
    <a target="_blank" href="/" class="link-item">Главная</a>
    <a target="_blank" href="/products.html" class="link-item">Продукция</a>
    <a target="_blank" href="/products-detail.html" class="link-item">Продукция детальная</a>
    <a target="_blank" href="/about.html" class="link-item">О компании</a>
    <a target="_blank" href="/cooperation.html" class="link-item">Сотрудничество</a>
    <a target="_blank" href="/cooperation-detail.html" class="link-item">Сотрудничество (детальная)</a>
    <a target="_blank" href="/news-detail.html" class="link-item">Новость (детальная)</a>
    <a target="_blank" href="/contacts.html" class="link-item">Контакты</a>
    <a target="_blank" href="/places.html" class="link-item">Где купить (разводящая)</a>
    <a target="_blank" href="/places-detail.html" class="link-item">Где купить (детальная)</a>
    <a target="_blank" href="#" data-modal data-file="/callback.html" class="link-item">Стать партнером</a>
    <a target="_blank" href="#" data-modal data-file="/place-map.html" data-coordsx="53.926329" data-coordsy="91.411099" class="link-item">Карта</a>
  </div>



{% endblock %}


