<section class="section">
    <div class="main-slider swiper-container">
        <div class="main-slider-wrapper swiper-wrapper">
            <div class="swiper-slide">
                <img class="main-slider-image" src="/assets/img/slide1.jpg" alt="">
                <div class="main-slider-description" data-swiper-parallax="-3000">
                    <span data-swiper-parallax="-1000">Осуществляем монтаж трубопроводов</span>
                    <span class="text-active"
                          data-swiper-parallax="-2000">Нам доверяют крупнейшие мировые производители</span>
                </div>
            </div>
            <div class="swiper-slide">
                <img class="main-slider-image" src="/assets/img/slide2.jpg" alt="">
                <div class="main-slider-description" data-swiper-parallax="-3000">
                    <span data-swiper-parallax="-1000">Реализуем комплексные проекты</span>
                    <span class="text-active " data-swiper-parallax="-2000">Нам доверяют крупнейшие мировые производители</span>
                </div>
            </div>
        </div>
    </div>
    {% include '../index/index-services.twig' %}
</section>