<section class="index-map">
    <div class="container">
        <div class="index-map-wrapper">
            <div class="index-map-left">
                <h2 class="index-map-title title">Мы на карте</h2>
                <ul class="index-map-stylish text">
                    <li class="index-map-item">
                        <span class="index-map-icon icon-location"></span>
                        398540 Липецкая обл., Липецкий р-н, с. Сенцово, ул. Молодежная, дом 1Н
                    </li>
                    <li class="index-map-item">
                        <span class="index-map-icon icon-phone"></span>
                        +7 4742 55 05 09 - отдел закупок
                    </li>
                    <li class="index-map-item">
                        <span class="index-map-icon icon-phone"></span>
                        +7 4742 71 96 96 - коммерч. отдел
                    </li>
                    <li class="index-map-item">
                        <span class="index-map-icon icon-mail"></span>
                        sales@etm.ltd
                    </li>
                </ul>
            </div>
        </div>
        <div id="index-map" class="index-map-right"></div>
    </div>
</section>