@import "../helpers/core";

.callback {
  padding: 54px 170px 54px 102px;
  max-width: 602px;
  @include adaptive(640) {
    padding: 67px 50px 60px 70px;
  }
  @include adaptive(480) {
    padding: 67px 20px 20px 20px;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 117px;
    background: url("/assets/img/popup_bg.svg") no-repeat center;
    background-size: cover;
    @include adaptive(480) {
      display: none;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: $back;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: $textDark;
    margin-bottom: 24px;
  }

  &__label {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }
}

.question-consent {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 160%;
  color: $text;
  margin-bottom: 40px;
}

.input-file__button {
  font-family: $font-main;
  text-decoration: underline;
  cursor: pointer;
}