.breadcrumbs {
  display: block;
  position: relative;
  z-index: 10;
  margin-top: 0;
  margin-bottom: 40px;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
  }

  &__item {
    font-size: 14px;
    line-height: 150%;
    color: $gray-1;
    padding: 0;
    margin-right: 12px;
    width: auto;
    display: inline;
    padding-right: 12px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      left: 100%;
      background: $gray-1;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: $mustard;
    }
  }

  &__link {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
    transition: all .4s ease-in-out;
  }
}
