.header-burger {
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #f1f6fc;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border: 0;
  cursor: pointer;
  color: #000;
  position: relative;
  @include adaptive(1200) {
    display: flex;
    order: 1;
  }
  @include adaptive(500) {
    width: 32px;
    height: 32px;
  }

  &::before,
  &::after {
    background: currentColor;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 50%;
    transition: all .75s;
    width: 24px;
    transform: translateX(-50%);
    @include adaptive(500) {
      width: 18px;
    }
  }

  &::before {
    box-shadow: currentColor 0 8px 0 0;
    position: absolute;
    top: 11px;
    @include adaptive(500) {
      box-shadow: currentColor 0 7px 0 0;
      top: 8px;
    }
  }

  &::after {
    position: absolute;
    bottom: 11px;
    width: 24px;
    left: 50%;
    transform: translateX(-50%);
    @include adaptive(500) {
      width: 18px;
      bottom: 8px;
    }
  }

  &_open {

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(225deg);
      box-shadow: transparent 0 7px 0 0;
    }

    &::after {
      top: 50%;
      transform: translate(-50%, -50%) rotate(315deg);
      bottom: auto;
    }
  }
}
