<section class="section">
    <div class="container">
        <div class="contact-callback">
            <div class="contact-callback-items">
                <a href="#" class="contact-callback-item">
                    <div class="contact-callback-left icon-callback1"></div>
                    <div class="contact-callback-right">
                        <span class="contact-callback-text">заказчикам</span>
                        <span class="contact-callback-link">
                            оставить заявку
                            <span class="contact-callback-icon icon-Arrow-47"></span>
                        </span>
                    </div>
                </a>
                <a href="#" class="contact-callback-item">
                    <div class="contact-callback-left icon-callback2"></div>
                    <div class="contact-callback-right">
                        <span class="contact-callback-text">поставщикам</span>
                        <span class="contact-callback-link">
                            оставить заявку
                            <span class="contact-callback-icon icon-Arrow-47"></span>
                        </span>
                    </div>
                </a>
                <a href="#" class="contact-callback-item">
                    <div class="contact-callback-left icon-callback3"></div>
                    <div class="contact-callback-right">
                        <span class="contact-callback-text">подрядчикам</span>
                        <span class="contact-callback-link">
                            оставить заявку
                            <span class="contact-callback-icon icon-Arrow-47"></span>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>