<section class="section-inner">
    <div class="contact-callback-background">
        <img src="/assets/img/services_back2.jpg" alt="">
    </div>
    <div class="container">
        <div class="contact-callback-wrapper">
            <h2 class="title contact-callback-title">Оставьте заявку</h2>
            <p class="text contact-callback-text">Оставьте заявку и наш специалист свяжется с Вами</p>
            <form action="" class="contact-callback-form">
                <div class="contact-callback-row">
                    <label class="input contact-callback-label">
                        <input type="text" class="input-field" placeholder="Имя" autocomplete="off">
                    </label>
                    <label class="input contact-callback-label">
                        <input type="text" class="input-field js-phone" autocomplete="off" required placeholder="Телефон*">
                    </label>
                </div>
                <div class="contact-callback-row">
                    <label class="input contact-callback-label">
                        <textarea autocomplete="off" class="popup-form__area input input-area" placeholder="Комментарий"></textarea>
                    </label>
                    <div class="contact-callback-column contact-callback-column-right">
                        <label class="contact-callback-checkbox">
                            <input type="checkbox" class="input-field" value="" required>
                            <span>Даю согласие на обработку персональных данных</span>
                        </label>
                        <input type="submit" name="" value="отправить" class="button button-yellow">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>