<section class="section about-quotes">
    <div class="container">
        <div class="about-quotes-wrapper">
            <blockquote class="about-quotes-left about-quotes-quot">
                <div class="about-quotes-quot-top">
                    <svg width="53" height="35" viewBox="0 0 53 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M31.3346 17.2069C30.065 19.0385 29.3211 21.2622 29.3211 23.6596C29.3211 29.9227 34.3984 35 40.6615 35C46.9247 35 52.002 29.9227 52.002 23.6596C52.002 17.8526 47.6373 13.065 42.0096 12.3984L44.6701 0.416519L40.9975 0.266525L31.3346 17.2069Z"
                              fill="#F2F2F2" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M2.01338 17.2082C0.744335 19.0396 0.000764847 21.2627 0.000764847 23.6596C0.000764847 29.9227 5.07805 35 11.3412 35C17.6044 35 22.6816 29.9227 22.6816 23.6596C22.6816 17.8525 18.3169 13.0649 12.6891 12.3984L15.3497 0.416508L11.6771 0.26651L2.01338 17.2082Z"
                              fill="#F2F2F2" />
                    </svg>
                </div>
                <div class="about-quotes-quot-center">
                    <p class="text about-quotes-text">
                        Целью нашей компании является содействие подъему промышленного производства в России
                        с внедрением и использованием современных наукоемких технологий.
                    </p>
                    <p class="text about-quotes-quot-title">
                        Евротехмонтаж — Мы строим будущее.
                    </p>
                </div>
                <div class="about-quotes-quot-bottom">
                    <svg width="53" height="35" viewBox="0 0 53 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M31.3346 17.2069C30.065 19.0385 29.3211 21.2622 29.3211 23.6596C29.3211 29.9227 34.3984 35 40.6615 35C46.9247 35 52.002 29.9227 52.002 23.6596C52.002 17.8526 47.6373 13.065 42.0096 12.3984L44.6701 0.416519L40.9975 0.266525L31.3346 17.2069Z"
                              fill="#F2F2F2" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M2.01338 17.2082C0.744335 19.0396 0.000764847 21.2627 0.000764847 23.6596C0.000764847 29.9227 5.07805 35 11.3412 35C17.6044 35 22.6816 29.9227 22.6816 23.6596C22.6816 17.8525 18.3169 13.0649 12.6891 12.3984L15.3497 0.416508L11.6771 0.26651L2.01338 17.2082Z"
                              fill="#F2F2F2" />
                    </svg>
                </div>
            </blockquote>
            <div class="about-quotes-right">
                <p class="text about-quotes-right-text">
                    Мы динамично развивающаяся инжиниринговая компания. Более 9
                    лет предоставляем услуги промышленного инжиниринга для предприятий
                    различных отраслей промышленности. Реализуем комплексные проекты.
                    Нам доверяют крупнейшие мировые производители находящиеся на
                    территории РФ в сфере пищевой, фармацевтической, химической и
                    нефтехимической промышленности.
                </p>
                <p class="text about-quotes-right-text">
                    Многолетний опыт работы и штат профессиональных сотрудников
                    позволяет ООО «Евротехмонтаж» с успехом реализовать как отдельные виды
                    работ, так и комплексные проекты на территории 4х федеральных округов:
                </p>
                <div class="about-quotes-items">
                    <span class="about-quotes-item">Центральный</span>
                    <span class="about-quotes-item">Северо-Западный</span>
                    <span class="about-quotes-item">Южный</span>
                    <span class="about-quotes-item">Приволжский</span>
                </div>
                <p class="text about-quotes-right-text">
                    Наша компания внедрила, обеспечивает функционирование и постоянное
                    улучшение международной системы качества в соответствии с требованиями
                    ГОСТ ISO 9001-2011 (ISO 9001:2008); ГОСТ Р 54934-2012 (OHSAS
                    18001:2007); ГОСТ Р 14001-2007 (ISO 14001:2004)
                </p>
                <a href="#" class="about-quotes-link">Читать полностью</a>
            </div>
        </div>
    </div>
</section>