<section class="section section-about">
    <div class="container">
        <div class="section-about-wrapper">
            <div class="section-about-left">
                <picture>
                    <img src="/assets/img/member-full.jpg" alt="">
                </picture>
            </div>
            <div class="section-about-right">
                <h2 class="title section-about-title">Приветствую Вас на сайте ООО «Евротехмонтаж»</h2>
                <p class="text section-about-text">
                    В самом начале нашего бизнес-пути мы установили для себя несколько ключевых ценностей, которыми
                    руководствуемся
                    в нашей работе по сей день.
                </p>
                <p class="text">
                    Мы работаем профессионально, оперативно и качественно, поскольку дорожим своим именем и
                    заботимся о своей репутации. Мы уважаем наших партнеров и клиентов, поскольку это залог здоровых и
                    успешных бизнес-отношений.
                </p>
                <p class="text">
                    Основным принципом нашей деятельности является индивидуальный подход к каждому клиенту. Серьезное
                    отношение к решению любых, даже, на первый взгляд, простых задач, внимательное и дружественное
                    отношение к клиентам делают сотрудничество с нами приятным и плодотворным.
                </p>
                <p class="text">
                    Мы стремится к партнерским отношениям и укреплению долговременных связей. При решении сложных
                    многоплановых задач мы руководствуемся не только теоретическими знаниями, но и
                    практическим опытом наших сотрудников и партнеров, приобретенным за годы существования нашей
                    компании. Этот опыт, как и все наши клиенты, с которыми нам выпала честь работать, являются
                    основными ценностями нашей компании.
                </p>
                <p class="text section-about-text-title">
                    С уважением, Генеральный директор <br>
                    ООО «Евротехмонтаж» Ильичев Д.В.
                </p>
            </div>
        </div>
    </div>
</section>