<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  {% include '../components/template/head.twig' %}
  {% block styles %}

  {% endblock %}
</head>
<body>
<div class="loader">
  <div class="loader-spin"></div>
</div>
{% include '../components/template/header-inner.twig' %}
<div class="overlay"></div>
<main class="main main-inner">
  <div class="container">
    {% include '../components/template/breadcrumbs.twig' %}
  </div>
  <div class="container">
    <div class="wrapper internal-header__wrapper">
      <h1 class="title title_page">{{ title }}</h1>
    </div>
  </div>
  {% block page %}{% endblock %}
</main>
<footer>
{% include '../components/template/contact.twig' %}
{% include '../components/template/footer.twig' %}
</footer>
{% include '../components/template/popup.twig' %}
{% include '../components/template/footer-scripts.twig' %}
{% block scripts %}{% endblock %}
</body>
</html>
