<section class="section section-work">
    <div class="container">
        <div class="section-work-wrapper">
            <div class="section-work-left">
                <p class="text section-work-text">
                    Вы хотите стать членом нашей команды?
                    Мы предоставляем возможность сотрудникам реализовать свой потенциал в профессиональной сфере,
                    совершенствовать уже имеющиеся знания и навыки, участвовать в интересных инновационных проектах,
                    быть частью сплоченной команды.
                </p>
                <p class="text section-work-text">
                    Готовность и способность персонала плодотворно работать, развиваться, учиться новому – залог успеха
                    нашей компании. ООО «Евротехмонтаж» уделяет внимание повышению профессионального уровня коллектива.
                </p>
                <p class="text section-work-text">
                    Наш коллектив – это команда, в которой наряду с профессиональными навыками ценятся такие качества,
                    как командный дух, открытость, нацеленность на результат. Предпочтение отдается инициативным и
                    мотивированным кандидатам.
                </p>
            </div>
            <div class="section-work-right">
                <picture>
                    <img src="/assets/img/work.jpg" alt="">
                </picture>
                <span class="section-work-position">Отдел управление персоналом</span>
                <span class="section-work-name">Екатерина Попова</span>
                <div class="section-work-bottom">
                    <a href="tel:+79525979752" class="section-work-phone link icon-phone">
                        <span class="section-work-link">+7 (952) 597-97-52</span>
                    </a>
                    <a href="mailto:idv@etm.ltd" class="section-work-mail link icon-mail">
                        <span class="section-work-link">idv@etm.ltd</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>