.contact-members {
  display: flex;
  width: 100%;

  &-sliders {
    width: 100%;
    height: 769px;
    @include adaptive(1200) {
      height: auto;
      display: flex;
      flex-direction: column;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 172px;
      background: rgba(255, 255, 255, 0.76);
      z-index: 10;
      @include adaptive(1200) {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 172px;
      background: rgba(255, 255, 255, 0.76);
      z-index: 10;
      @include adaptive(1200) {
        display: none;
      }
    }
  }

  &-items {
    @include adaptive(1200) {
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @include adaptive(1200) {
      height: auto;
    }
    @include adaptive(500) {
      flex-direction: column;
      margin-bottom: 50px;
    }
  }

  &-left {
    display: flex;
    flex-shrink: 0;
    max-width: 30%;
    @include adaptive(600) {
      max-width: 40%;
    }
    @include adaptive(500) {
      max-width: 350px;
      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 20px;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 128px;
    @include adaptive(1200) {
      margin-left: 30px;
    }
    @include adaptive(500) {
      margin-left: 0;
      align-items: center;
      justify-content: center;
    }
  }

  &-position {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: $mustard-2;
    margin-bottom: 24px;
    @include adaptive(1200) {
      font-size: 14px;
    }
    @include adaptive(500) {
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  &-name {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: $mustard-2;
    margin-bottom: 24px;
    @include adaptive(1200) {
      font-size: 18px;
    }
    @include adaptive(500) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 270px;
    @include adaptive(500) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &-phone {
    text-decoration: none;
    @include adaptive(500) {
      margin-bottom: 10px;
    }

    &::before {
      font-size: 10px;
      padding-right: 10px;
    }
  }

  &-mail {
    text-decoration: none;

    &::before {
      font-size: 10px;
      padding-right: 10px;
    }
  }

  &-link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: $mustard-2;
  }

  &-pagination {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    z-index: 12;
    @include adaptive(1200) {
      position: relative;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      height: auto;
      width: 100%;
      margin-top: 30px;
    }
  }
}

.awards-pagination-item {
  display: block;
  width: 13px;
  background: $gray-4;
  border-radius: 0;
  @include adaptive(1200) {
    width: 10px;
    height: 10px !important;
    margin-right: 20px;
    border-radius: 50%;
  }
}

.awards-pagination-item_active {
  background: $mustard;
}