.contact-callback {
  $parent: &;

  &-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    @include adaptive(400) {
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 343px;
    text-decoration: none;
    padding: 0 9px;
    @include adaptive(1200) {
      justify-content: center;
      flex-direction: column;
    }
    @include adaptive(400) {
      max-width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 36px;
      height: 36px;
      opacity: 0;
      background: $mustard;
      pointer-events: none;
      transition: all .3s ease-in-out;
      @include adaptive(500) {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: $mustard-2;
      @include adaptive(1200) {
        display: none;
      }
    }

    &:last-child::after {
      display: none;
    }

    &:hover {

      &::before {
        opacity: 1;
      }

      #{$parent}-icon {
        width: 30px;

        &::before {
          color: $mustard;
        }
      }
    }
  }

  &-left {
    display: flex;

    &::before {
      color: $textDark;
      font-size: 58px;
      display: block;
      margin-right: 37px;
      @include adaptive(1200) {
        margin-right: 0;
        margin-bottom: 20px;
      }
      @include adaptive(400) {
        margin-bottom: 12px;
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    font-family: $font-main;
    @include adaptive(1200) {
      align-items: center;
    }
  }

  &-text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: $mustard-2;
    margin-bottom: 8px;
    @include adaptive(700) {
      font-size: 14px;
      margin-bottom: 4px;
    }
    @include adaptive(500) {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    text-transform: uppercase;
    color: $gray-1;
    @include adaptive(700) {
      font-size: 10px;
    }
    @include adaptive(500) {
      font-size: 8px;
    }
  }

  &-icon {
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 11px;
    overflow: hidden;
    width: 20px;
    transition: all .3s ease-in-out;
    @include adaptive(500) {
      display: none;
    }

    &::before {
      font-size: 10px;
      display: inline-block;
      transform: rotate(180deg);
    }
  }
}