<section class="section-inner footer-contact">
    <div class="container">
        <div class="footer-contact-wrapper">
            <div class="footer-contact-items">
                <ul class="footer-contact-stylish list-unstyled">
                    <li class="footer-contact-item">
                        <span class="index-map-icon icon-location"></span>
                        398540 Липецкая обл., Липецкий р-н, с. Сенцово, ул. Молодежная, дом 1Н
                    </li>
                    <li class="footer-contact-item">
                        <span class="index-map-icon icon-phone"></span>
                        +7 4742 55 05 09 - отдел закупок +7 4742 71 96 96 - коммерч. отдел
                    </li>
                    <li class="footer-contact-item">
                        <span class="index-map-icon icon-mail"></span>
                        sales@etm.ltd
                    </li>
                </ul>
            </div>
            <nav class="footer-contact-right">
                <ul class="footer-contact-menu list-unstyled">
                    <li class="footer-contact-item">
                        <a href="" class="footer-contact-link active">О компании</a>
                    </li>
                    <li class="footer-contact-item">
                        <a href="" class="footer-contact-link">Проектирование</a>
                    </li>
                    <li class="footer-contact-item">
                        <a href="" class="footer-contact-link">Изготовление и монтаж</a>
                    </li>
                    <li class="footer-contact-item">
                        <a href="" class="footer-contact-link">Портфолио</a>
                    </li>
                    <li class="footer-contact-item">
                        <a href="" class="footer-contact-link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>