<section class="footer">
    <div class="container footer-wrapper">
        <div class="footer-text">© etmebpotex 2020</div>
        <a href="/upload/policy.pdf" class="footer-link" target="_blank">Политика конфиденциальности</a>
        <a href="http://dialweb.ru" class="footer-link" target="_blank">Сайт разработан - Dial</a>
    </div>
</section>