<section class="question">
    <div class="container">
        <div class="wrapper question__wrapper">
            <div class="title title_white question__title">
                Остались вопросы?
            </div>
            <div class="question__subtitle">
                свяжитесь с нами
            </div>
            <form action="/" class="question-form form-file">
                <div class="question-form-main">
                    <div class="question-form-inputs">
                        <label class="label question-form__label">
                            <input placeholder="Имя" type="text" class="input input_white question-form__input">
                        </label>
                        <label class="label question-form__label">
                            <input placeholder="Телефон" type="text" class="input input_white question-form__input js-phone">
                        </label>
                    </div>
                    <label class="label question-form__label">
                        <textarea cols="30" placeholder="Сообщение" rows="10" class="textarea input input_white question-form__input"></textarea>
                    </label>
                    <div class="question-form-buttons">
                        <label class="input-file__label form-internal__file">
                            <input type="file" class="visually-hidden js-question-file-input">
                            <span class="input-file__button">
                                    Прикрепить документ
                                </span>
                        </label>
                        <div class="question-file-list"></div>
                        <button href="#" class="button question__button button_dark">Отправить<span class="icon-arr-right toggle-right toggle-right_button"></span></button>
                    </div>
                </div>
                <div class="question-consent">
                    Нажимая кнопку “оправить” вы соглашаетесь на обработку персональных данных
                </div>
            </form>
        </div>
    </div>
</section>