<div class="popup" tabindex="-1" role="dialog">
  <div class="popup__overlay js-popupWatch">
    <div class="popup__body js-popupBody">
      <div class="popup__close js-popupClose">
        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.7931 0L0 1.7931L4.70704 6.50014L0.00028091 11.2069L1.79338 13L6.50014 8.29324L11.2069 13L13 11.2069L8.29324 6.50014L13.0003 1.7931L11.2072 0L6.50014 4.70704L1.7931 0Z"/>
        </svg>
      </div>

      <div class="popup__wrap js-popupWrap">
        <div class="popup-loader">
          <div class="popup-loader__spin"></div>
        </div>
        <div class="popup-target">

        </div>

      </div>
    </div>
  </div>
</div>
