<a href="{{ item.href }}" class="services-item {% if item.class %}{{ item.class }}{% endif %}">
    <div class="services-item-name">{{ item.title }}</div>
    <div class="services-item-link">
        <span class="services-item-img">
            <img src="{{ item.img }}" alt="">
        </span>
        <span class="services-item-text text">
            <span class="services-item-icon icon-eya"></span>
            <span class="services-item-readmore">подробнее</span>
        </span>
    </div>
</a>